.licence-type-selection {
  padding-bottom: 16px;

  mat-card {
    margin-top: 16px;
  }

  .licence-type-icon {
    margin-right: 16px;
  }
}

.navigation-buttons {
  padding: 16px 0;

  button {
    width: 100%;
  }
}
