<div class="input-selection-container">
  <h2>{{ getTitleTranslationKey() | translate }}</h2>

  <div class="selection-group">
    <mat-radio-group [(ngModel)]="selectedOption" (change)="onOptionChange($event.value)" class="radio-group">
      <mat-radio-button *ngFor="let option of options()" [value]="option.value" class="radio-option">
        <div class="option-content">
          <img
            *ngIf="option.image"
            [src]="'data:image/png;base64,' + option.image"
            [alt]="getOptionTranslationKey(option.key) | translate"
            class="option-image"
          />
          <span class="option-label">{{ getOptionTranslationKey(option.key) | translate }}</span>
        </div>
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="action-buttons">
    <button class="ob-button" mat-button obButton="secondary" (click)="goBack()" type="button">
      {{ "i18n.core.button.back" | translate }}
    </button>

    <button
      class="ob-button"
      mat-button
      obButton="primary"
      [disabled]="!hasSelection"
      (click)="startVerification()"
      type="button"
    >
      {{ "i18n.core.button.continue" | translate }}
    </button>
  </div>
</div>
