<div class="centered-component">
  <div class="content">
    <div class="title">{{ `i18n.verifier.use-case-selector.${selectedType()}.title` | translate }}</div>
    <div class="description">{{ `i18n.verifier.use-case-selector.${selectedType()}.description` | translate }}</div>

    <div id="use-cases" class="ob-grid">
      @for (useCase of filteredUseCases(); track useCase.id) {
        <div class="ob-span-12">
          <mat-card id="use-case-{{ $index }}">
            <mat-icon class="info-icon" [svgIcon]="'info_circle'" (click)="openInfoDialog(useCase)"></mat-icon>
            <mat-card-header>
              <mat-card-title class="title">
                <img
                  class="licence-type-icon"
                  [ngSrc]="`assets/images/${selectedType()}_logo.svg`"
                  alt="Permit Logo"
                  width="30"
                  height="30"
                />
                {{ "i18n.verifier.use-cases." + useCase.title | translate }}
              </mat-card-title>
              <mat-card-subtitle class="description">
                {{ "i18n.verifier.use-cases." + useCase.title + ".description" | translate }}
              </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
              <div class="ob-flex">
                <button
                  class="ob-button"
                  mat-button
                  obButton="primary"
                  type="button"
                  (click)="createVerificationRequest(useCase)"
                >
                  {{ "i18n.verifier.use-cases." + useCase.title + ".button" | translate }}
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      }
    </div>

    @if (isMdlEnabled) {
      <div class="navigation-buttons">
        <button id="back-button" mat-button obButton="secondary" (click)="goBack()">
          {{ "i18n.core.button.back" | translate }}
        </button>
      </div>
    }
  </div>
</div>
